
#topbar {
    width: 100vw;
    height: 120px; /* Altura reduzida */
    background-color: #387478;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Melhor espaçamento entre os elementos */
    padding: 0 20px 0 120px;
    justify-content: flex-start;
    gap: 40px;  
}

#search_options{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#profile_infos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#searchbar {
    margin-top: 10px; /* Reduzido para caber melhor */
}

#filter-container {
    display: flex;
    align-items: center;
    gap: 10px; /* Espaçamento entre a mensagem e a div options */
    font-family: "Gasoek One", sans-serif;
    font-size: 24px;
    color: #FFFFFF;
}

#avatar{
   align-self: flex-start;
   display: flex;
   align-items: center;
   flex-direction: column;
}

.profile{
    align-self: center;
    font-family: "Gasoek One", sans-serif;
    font-size: 24px;
    color: #FFFFFF;
}

#options {
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center; /* Mantém os itens centralizados */
    background-color: #243642;
    font-family: "Gasoek One", sans-serif;
    color: #FFFFFF;
    border-radius: 40px;
    border: 2px solid white;
    gap: 10px;
    padding: 10px 15px; /* Ajuste fino para manter o espaçamento adequado */
    height: 40px; /* Altura reduzida sem comprometer a legibilidade */
    box-sizing: border-box;
    margin-top: 5px;
}
.filter-option {
    background: none;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
}

.filter-option:not(:last-child)::after {
    content: "";
    position: absolute;
    right: -5px; 
    top: -5px; 
    height: calc(100% + 10px); 
    width: 2px;
    background-color: white;
}


.filter-option:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}