/*!********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./app/components/sidebar/sidebar.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************/
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Freeman&family=Quicksand:wght@300..700&family=Sevillana&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#bar {
    position: absolute;
    left: 0;
    top: 0;
    transition: transform 0.7s ease;
}

.move-to-right {
    transform: translateX(64vw);
}

#upbar {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 36vw;
    height: 80vh;
    background: #387478;
}

#login-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Freeman', serif;
    font-size: 30px;
    width: 20vw;
    height: 10vh;
    background: #243642;
    border-radius: 10px;
    color: #FFFF;
    cursor: pointer;
}

#login-button:hover {
    border: 2px solid #F9A826;
    color: #F9A826;
}

#downbar {
    width: 36vw;
    height: 20vh;
    background: #708D8F;
}
/*!************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./app/components/searchbar/searchbar.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************/
@import url('https://fonts.googleapis.com/css2?family=Gasoek+One&display=swap');

#searchbar {
    width: 892px;
    height: 40px;
    position: relative;
}

#searchInput {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background-color: #D9D9D9;
    color: #302f2f;
    padding-left: 40px;
    padding-right: 120px;
    font-size: 24px;
    font-family: "Gasoek One", sans-serif;
    border: 3px solid #243642;
}

#lupa {
   position: absolute;
   right: 50px;
   bottom: 0.01px;
   cursor: pointer;
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./app/components/filme_info/movie_info.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************/
#movieInfo{
    width: 100vw;
    height: 100vh - 120px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 30px;
    overflow:hidden;
    padding-top: 30px;
    padding-left: 150px;
}

.typeList{
    color: #000000;
    font-size:14px ;
}

.movieStar{
    display: flex;
    flex-direction: row;
    padding-right: 200px;
}

.movieItem{
    display: flex;
    flex-direction: row;
}

.movieDetails{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 35px;
}
.movieTitle{
    font-size: 24px;
    color: black;
}

.movieCover{
    width: 162px;
    height: 241px;
}

.movieGenre{
    font-size: 20px;
    color: #6C9C8B;
}

.movieSynopsis{
    font-size: 16px;
    color: black;
}

.movieAvaliation{
    font-size: 16px;
    color: black;
}

.movieDownInfos{
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    gap: 10px;
}

#movieUpInfos{
    display: flex;
    flex-direction: row;
}

.typeListContainer {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .backButton {
    background-color:#ffffff;
    color: #000000;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 20px;
    font-size: 16px;
  }
  
  .backButton:hover {
    background-color:  #ffffff;
  }
  
  .TypeList {
    margin: 0;
  }

/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./app/components/topbar/topbar.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/

#topbar {
    width: 100vw;
    height: 120px; /* Altura reduzida */
    background-color: #387478;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Melhor espaçamento entre os elementos */
    padding: 0 20px 0 120px;
    justify-content: flex-start;
    gap: 40px;  
}
#search_options{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#profile_infos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#searchbar {
    margin-top: 10px; /* Reduzido para caber melhor */
}

#filter-container {
    display: flex;
    align-items: center;
    gap: 10px; /* Espaçamento entre a mensagem e a div options */
    font-family: "Gasoek One", sans-serif;
    font-size: 24px;
    color: #FFFFFF;
}

#avatar{
   align-self: flex-start;
   display: flex;
   align-items: center;
   flex-direction: column;
}

<<<<<<< HEAD
#profile{
=======
.profile{
>>>>>>> upstream/dev
    align-self: center;
    font-family: "Gasoek One", sans-serif;
    font-size: 24px;
    color: #FFFFFF;
}

#options {
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center; /* Mantém os itens centralizados */
    background-color: #243642;
    font-family: "Gasoek One", sans-serif;
    color: #FFFFFF;
    border-radius: 40px;
    border: 2px solid white;
    gap: 10px;
    padding: 10px 15px; /* Ajuste fino para manter o espaçamento adequado */
    height: 40px; /* Altura reduzida sem comprometer a legibilidade */
    box-sizing: border-box;
    margin-top: 5px;
}
.filter-option {
    background: none;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
}

.filter-option:not(:last-child)::after {
    content: "";
    position: absolute;
    right: -5px; 
    top: -5px; 
    height: calc(100% + 10px); 
    width: 2px;
    background-color: white;
}


.filter-option:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
/*!******************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./app/components/popUp_adicao/popUp_adicao.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************/
#PopUpAdicao{
    width: 650px;
    height: 500px;
    background-color: #E2F1E7;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

#backButton{
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}

#addForm{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

#Title, #Avaliation{
    width: 480px;
    height: 52px;
    border-radius: 26px;
    padding: 0 25px 0 25px;
    font-size: 24px;
    background-color: #E2F1E7;
    border: 3px solid #cccccc;
}

label{
    font-size: 24px;
}

#finishButton{
    width: 342px;
    height: 84px;
    border-radius: 42px;
    font-size: 32px;
    background-color: #629584;
    color: #ffffff;
    border: 3px solid #629584;
    cursor: pointer;
}

.InfoFilm{
    display: flex;
    flex-direction: column;

}

#choose_list{
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.options_movies{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#watched, #Abandoned{
     width: 30px;
     height: 30px;
     border-radius: 15px;
}
/*!********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./app/components/popUp_remocao/popUp_remocao.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************/
#PopUpRemocao{
    width: 650px;
    height: 500px;
    background-color: #E2F1E7;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

#backButton{
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}

#addForm{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

#Title{
    width: 480px;
    height: 52px;
    border-radius: 26px;
    padding: 0 25px 0 25px;
    font-size: 24px;
    background-color: #E2F1E7;
    border: 3px solid #cccccc;
}

label{
    font-size: 24px;
}

#finishButton{
    width: 342px;
    height: 84px;
    border-radius: 42px;
    font-size: 32px;
    background-color: #629584;
    color: #ffffff;
    border: 3px solid #629584;
    cursor: pointer;
}

.InfoFilm{
    display: flex;
    flex-direction: column;

}
/*!***********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./app/pages/Filmes_Assistidos/style.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************/
#home{
    position: relative;
    width: 100vw;
    height: 100vh;
}

.container{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}




<<<<<<< HEAD
=======
/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./app/components/footer/Footer.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
.footer {
    background-color: #243642;
    padding: 0;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
  }
  
  .footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  
  .logo-container {
    display: flex;
    justify-content: center;
    width: auto;
    cursor: pointer;
    background-color: transparent; /* Remove qualquer fundo */
  }
  
  .logo-container svg {
    height: 90px; 
    width: auto;
    background-color: transparent; /* Remove qualquer fundo */
    margin-top: 10px;
  }
  
  /* Remova completamente a seção .footer-content */
  .footer-content {
    display: none;
  }
>>>>>>> upstream/dev
